@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu');


body, html {
    height: 100%;
    margin: 0;
}

/* Headlines of all pages */
h1 {
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
} 

h2 {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
} 

h3 {
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
} 

/* Desktop Styles */
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	background: #ffffff;
	color: #000000;
	margin: 0;
	padding: 0;
}

/* Fælles for alle sider */
.overskrifter-cv {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 50px;
}

.nadjauhrenfelt {
	font-size: 50px;
	text-transform: none
}



/* Footer */
.footer {
   height: 160px;
   width: 100%;
   background-color: #eaeaea;
   box-sizing: border-box;	
}

.footer-content {
	box-sizing: border-box;
	height: 160px;
	color: #ffffff;
	text-align: center;
	padding: 60px;
	list-style: none;
}

.footer-content a {
  width: 25px;
  height: 25px;
  color: #000000;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  padding: 10px;	
  background-color: #FFFFFF;
  margin-right: 3px;
  margin-left: 3px;
} 

.footer-content i {
	font-size: 20px;
	/*padding: 10px;*/
}

.footer-content a:hover {
    background-color: #D5D5D5;
	color: #ffffff;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

/* Navigation Main Styles */
nav {
	/*background-color: #AA898A;*/
	float: right;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.25em;
    font-size: 1px;
	margin-top: 52px;
	margin-right: 95px;
	position: relative;
	z-index: 40000;
	text-transform: uppercase;
}

/* Removing margin, pading and list styles from nav ul */
nav ul {
	list-style: none;
	padding: 0;
	margin: 0; 
}

nav ul li {
	display: inline-block; 
}

nav a {
	display: block; 
	color: #333333;
	font-size: 16px;
	text-decoration: none;
	padding: 14px 20px;
	position: relative;
}

nav a:hover {
	background-color: #EAEAEA;
	color: #ffffff;
}

/* Dropdown menu styles */
nav ul ul {
	display: none;
	position: absolute;
}

/* Display dropdowns on hover */
nav ul li:hover > ul {
	display: inherit;
	background-color: #FFFFFF;
	width: 150px; 
}

nav ul ul li {
	display: block;
}

.myStyle {
	display: block;
}

/* Banner image and text */
.banner-image {
  background-image: url(images/background1.png);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
}

/* Button "Se mit arbejde" */
.button {
	display: block;
	padding: 10px 15px;
	background-color: #ffffff;
	width: 35%;
	margin: auto;
	text-decoration: none;
	color: #000000;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.button i {
	margin-left: 7px;
}

.banner-text .button:hover {
  background-color: #555;
  color: #ffffff;
}

/* Banner image2*/
.banner-image-mig {
  background-image: url(images/background2.png);
  width: 100%;
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Banner image3*/
.banner-image-kontakt {
  background-image: url(images/background3.png);
  width: 100%;
  height: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.button-cv {
	float: left;
	display: block;
	padding: 10px 15px;
	width: 20%;
	margin: auto;
	text-decoration: none;
	color: #000000;
	border-radius: 20px;
	border: solid 2px black;
	font-size: 14px;
	text-align: center;
}

.button-cv i {
	margin-right: 7px;
}

.button-cv:hover {
  color: #666666;
  border: solid 2px #666666;
}

.info {
  text-decoration: none;
  color: #000000;
}


/* Logo styling */
.logo {
	margin-top: 52px;
	margin-left: 95px;
	width: 125px;
	height: auto;
}


/* Projekter forside */
.wrapper {
	width: 85%;
	margin: auto;
}

#projekter {
	height: 850px;
	margin-top: 100px;
}

/* Forside projekt billeder */
.box {
	width: 250px;
	height: 250px;
	margin: 20px;
	display: inline-block;
	position: relative;
}
.box-content {
	display: block;
	padding: 20px;
	width: 100%;
	height: 100%;
	background: #EAEAEA;
	color: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.box-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
a.link {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}

/* Forside-projekter css styling */
.box-content .box-wrapper {
	width: 100%;
	height: 100%;
	font-size: 24px;
	display: block;
	padding: 30px 0 10px 0;
	text-align: center;
	margin-bottom: 10px;
	border: 2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.box-content span.name {
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin-top: 5px;
}

.box-content .row {
	margin-top: 10px;
	font-size: 12px;
	color: #ffffff;
}

/* Wrapper */
.wrapper-content {
	height: auto;
	width: 85%;
	margin: auto;
	padding-top: 85px;
	padding-bottom: 50px;
}

.wrapper-uddannelse {
	height: auto;
	width: 85%;
	margin: auto;
	padding-top: 50px;
}

.wrapper-kompetencer {
	width: 85%;
	margin: auto;
}

.wrapper-kontakt {
	text-align: center;
	height: auto;
	padding-top: 15%;
	margin-left: 38%;
}

/* Beskrivelse af projekt*/
.projektbeskrivelse1 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

.projektbeskrivelse2 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}


/* Beskrivelse af projekt*/
.projektbeskrivelse3 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

.projektbeskrivelse3-1 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

.projektbeskrivelse4 {
	width: 50%; 
	position: relative;
}

.beskrivelse-mig {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

.beskrivelse-uddannelse {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

.button-projekter3 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 70%;
	margin: auto;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}


.button-projekter1 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 75%;
	margin-left: 60%;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter1:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.button-projekter2 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 75%;
	margin-left: 60%;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter2:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.button-projekter3 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 70%;
	margin: auto;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter3:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}


.button-projekter4 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 75%;
	margin-left: 60%;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter4:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

/* Dots placering på projektsiderne */
.placering-dot1 {
	padding-left: 72%;
    width: 200%;
}

.placering-dot2 {
	padding-left: 79%;
    width: 200%;
}

.placering-dot3-1 {
	padding-left: 75%;
    width: 200%;
}

.placering-dot4 {
	padding-left: 72%;
    width: 200%;
}

/* Style slideshow placering */
.style-slideshow {
	float: right;
    /*margin-top: 15%;*/ 
	margin-right: 10%;
}

.style-slideshow1 {
	float: right;
    /*margin-top: 15%;*/ 
	margin-right: 17%;
}

/* Billeder af ikoner placering */
.ikoner {
	margin-left: 90px;
}

/* Slideshow projekter */
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 180px;
  position: relative;
}

/* Beskrivende text */
.text {
  color: #000;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
  bottom: 8px;
  width: 100%;
  text-align: center; 
}

.text1 {
  color: #000;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
  bottom: 8px;
  width: 200%;
  text-align: center; 
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Tabel kompetencer */
table, td, th {    
    /*border: 1px solid #ddd;*/ 
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
	table-layout: fixed;
}

tr th {
	font-size: 25px;
}

tr td {
	font-size: 12px;
	text-transform: uppercase;
}

th, td {
    padding: 10px;
}

td i {
	margin-left: 7px;
}

/* Responsive menu style button*/
button {
	display: none;
}

.fa-bars {
	display: none;
}

.kompetencer2 {
	display: none;
}

/* Responsive design */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Responsive Styles with CSS media query*/
@media all and (max-width: 768px) {
	
	
/* Headlines of all pages */
h1 {
	font-size: 20px;
} 

h2 {
	font-size: 15px;
} 

h3 {
	font-size: 10px;
}

/* Responsive menu */
button {
	display: block;
	float: right;
	margin-top: 55px;
	margin-right: 10px;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

/*
.fa-bars {
	display: block;
	float: right;
	margin-top: 55px;
	margin-right: 12px;
	border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	}*/

	
nav {
	display: none;
	float: right;
	background-color: #ffffff;
	border: 1px solid black;
	margin-left: 100%;
}

nav a {
	padding: 7px 10px;
}
	
nav ul li {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid black;
}	
	
/* Responsive dropdown styles */
nav ul li:hover > ul {
	/*display: inherit;*/
	position: static;
	background-color: #ffffff;
	width: 100%; 
}		
	
	
/* Button "Se mit arbejde" */
.button {
	display: none;
}
	
.banner-text {
  color: #ffffff;
}

.nadjauhrenfelt {
	font-size: 40px;
	text-transform: none
}
	
/* Footer */
.footer {
   display: none;	
}

/* Logo styling */
.logo {
	margin-top: 52px;
	margin-left: 10px;
}

/* Beskrivelse af projekt*/
.projektbeskrivelse1 {
	width: 95%; 
	position: relative;
	padding-top: 90%;
}

.projektbeskrivelse2 {
	width: 95%; 
	position: relative;
	padding-top: 90%;
}

.projektbeskrivelse3 {
	width: 95%; 
	position: relative;
	padding-top: 150%;
}
	
.projektbeskrivelse3-1 {
	width: 95%; 
	position: relative;
	padding-top: 90%;
}
	
.projektbeskrivelse4 {
	width: 95%; 
	position: relative;
	padding-top: 90%;
}


.beskrivelse-mig {
	width: 95%; 
	position: relative;
	padding-top: 22%;
	padding-bottom: 10%;
}

.beskrivelse-uddannelse {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

	
/* Wrapper */
.wrapper-content {
	height: auto;
	width: 95%;
	margin: auto;
	padding-top: 85px;
}
	
/* Style slideshow placering */
.style-slideshow {
	float: left;
	margin-left: 35%;
}
.style-slideshow1 {
	float: left;
	margin-left: 25%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
}

.placering-dot1 {
  padding-left: 45%;
}

.placering-dot2 {
	padding-left: 60%;
}

.placering-dot3-1 {
	padding-left: 55%;
}

.placering-dot4 {
	padding-left: 35%;
}

.button-projekter {
	width: 80%;
}
	
.button-projekter1 {
	margin-left: 45%;
}

.button-projekter2 {
	margin-left: 45%;
}
	
.button-projekter3 {
	width: 80%;
}
	
.button-projekter4 {
	width: 85%;
	margin-left: 15%;
	
}

/* Billeder af ikoner placering */
.ikoner {
	margin-left: 50px;
}

/* Kompetence siden */	
.kompetancer1 {
		display: none;
}
	
.kompetencer2 {
		display: block;
}
	

/* Banner image2*/
.banner-image-mig {
  background-image: url(images/background5.png);
  width: 100%;
  height: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
	

/* End media query*/
}