@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
    height: 100%;
    margin: 0;
}

/* Headlines of all pages */
h1 {
	font-size: 30px;
} 

/* Desktop Styles */
body {
	background: #ffffff;
	font-family: 'Lato', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}


/* Navigation Main Styles */
nav {
	/*background-color: #AA898A;*/
	float: right;
	font-family: 'Lato', sans-serif;
	margin-top: 52px;
	margin-right: 95px;
}

/* Removing margin, pading and list styles from nav ul */
nav ul {
	list-style: none;
	padding: 0;
	margin: 0; 
}

nav ul li {
	display: inline-block; 
}

nav a {
	display: block; 
	color: #333333;
	font-size: 16px;
	text-decoration: none;
	padding: 14px 20px;
}

nav a:hover {
	/*background-color: #212121;*/
}

/* Dropdown menu styles */
nav ul ul {
	display: none;
	position: absolute;
}

/* Display dropdowns on hover */
nav ul li:hover > ul {
	display: inherit;
	/*background-color: #FFFFFF;*/
	width: 150px; 
}

nav ul ul li {
	display: block;
}

.myStyle {
	display: block;
}

/* Banner image and text */
.banner-image {
  background-image: url(images/background1.png);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.banner-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.banner-text button:hover {
  background-color: #555;
  color: white;
}
