@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu');


body, html {
    height: 100%;
    margin: 0;
}

/* Headlines of all pages */
h1 {
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
} 

h2 {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
} 

h3 {
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
} 

/* Desktop Styles */
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	background: #ffffff;
	color: #000000;
	margin: 0;
	padding: 0;
}

/* Navigation Main Styles */
nav {
	/*background-color: #AA898A;*/
	float: right;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.25em;
    font-size: 1px;
	margin-top: 52px;
	margin-right: 95px;
	position: relative;
	z-index: 40000;
	text-transform: uppercase;
}

/* Removing margin, pading and list styles from nav ul */
nav ul {
	list-style: none;
	padding: 0;
	margin: 0; 
}

nav ul li {
	display: inline-block; 
}

nav a {
	display: block; 
	color: #333333;
	font-size: 16px;
	text-decoration: none;
	padding: 14px 20px;
	position: relative;
}

nav a:hover {
	/*background-color: #EAEAEA;*/
	/*color: #ffffff;*/
	text-decoration: underline;
}

/* Dropdown menu styles */
nav ul ul {
	display: none;
	position: absolute;
}

/* Display dropdowns on hover */
nav ul li:hover > ul {
	display: inherit;
	background-color: #FFFFFF;
	width: 150px; 
}

nav ul ul li {
	display: block;
}

.myStyle {
	display: block;
}

.aktuelside {
	text-decoration: underline;
}

/* Responsive menu style button*/
.mobile-menu {
	display: none;
}

button {
	display: none;
}

.fa-bars {
	display: none;
}


/* Footer */
.footer {
   height: 160px;
   width: 100%;
   background-color: #eaeaea;
   box-sizing: border-box;	
}

.footer-content {
	box-sizing: border-box;
	height: 160px;
	color: #ffffff;
	text-align: center;
	padding: 60px;
	list-style: none;
}

.footer-content a {
  width: 25px;
  height: 25px;
  color: #000000;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  padding: 10px;	
  background-color: #FFFFFF;
  margin-right: 3px;
  margin-left: 3px;
} 

.footer-content i {
	font-size: 20px;
	/*padding: 10px;*/
}

.footer-content a:hover {
    background-color: #D5D5D5;
	color: #ffffff;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

/* Fælles styling */
/* Logo styling */
.logo {
	margin-top: 52px;
	margin-left: 95px;
	width: 125px;
	height: auto;
}

/* Overskrifter alle CV sider */
.overskrifter-cv {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 50px;
}

/* Wrapper */
.wrapper-content {
	height: auto;
	width: 85%;
	margin: auto;
	padding-top: 85px;
	padding-bottom: 50px;
}

/* Style slideshow placering */
.style-slideshow {
	float: right;
    /*margin-top: 15%;*/ 
	margin-right: 10%;
}

.style-slideshow1 {
	float: right;
    /*margin-top: 15%;*/ 
	margin-right: 17%;
}

/* Slideshow projekter */
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 180px;
  position: relative;
}

/* Beskrivende text */
.text {
  color: #000;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
  bottom: 8px;
  width: 100%;
  text-align: center; 
}

.text1 {
  color: #000;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
  bottom: 8px;
  width: 200%;
  text-align: center; 
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


/* Index */
/* Banner image and text */
.nadjauhrenfelt {
	font-size: 50px;
	text-transform: none;
	color: #000;
}

.banner-image {
  background-image: url(images/background1.png);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
}

/* Button "Se mit arbejde" */
.button {
	display: block;
	padding: 10px 15px;
	background-color: #ffffff;
	width: 35%;
	margin: auto;
	text-decoration: none;
	color: #000000;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.button i {
	margin-left: 7px;
}

.banner-text .button:hover {
  background-color: #555;
  color: #ffffff;
}

/* Wrapper Index */
.wrapper {
	width: 85%;
	margin: auto;
}

#projekter {
	height: 850px;
	margin-top: 100px;
}

/* Index projekt billeder */
.box {
	width: 250px;
	height: 250px;
	margin: 20px;
	display: inline-block;
	position: relative;
}
.box-content {
	display: block;
	padding: 20px;
	width: 100%;
	height: 100%;
	background: #eaeaea;
	color: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.box-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
a.link {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}

/* Index css styling - Box-overlay */
.box-content .box-wrapper {
	width: 100%;
	height: 100%;
	font-size: 24px;
	display: block;
	padding: 30px 0 10px 0;
	text-align: center;
	margin-bottom: 10px;
	border: 2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.box-content span.name {
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin-top: 5px;
}

.box-content .row {
	margin-top: 10px;
	font-size: 12px;
	color: #ffffff;
}

/* Projekt 1 */
.placering-dot1 {
	padding-left: 72%;
    width: 200%;
}

.button-projekter1 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 75%;
	margin-left: 60%;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter1:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.projektbeskrivelse1 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}


/* Projekt 2 */
.placering-dot2 {
	padding-left: 79%;
    width: 200%;
}

.button-projekter2 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 75%;
	margin-left: 60%;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter2:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.projektbeskrivelse2 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

/* Projekt 3 */
.button-projekter3 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 70%;
	margin: auto;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter3:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.projektbeskrivelse3 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

/* Projekt 3-1 */
.placering-dot3-1 {
	padding-left: 75%;
    width: 200%;
}

.projektbeskrivelse3-1 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

/* Projekt 4 */
.placering-dot4 {
	padding-left: 72%;
    width: 200%;
}

.button-projekter4 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 75%;
	margin-left: 60%;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter4:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.projektbeskrivelse4 {
	width: 50%; 
	position: relative;
}

/* Projekt 5 */
.placering-dot5 {
	padding-left: 79%;
    width: 200%;
}

.button-projekter5 {
	display: block;
	padding: 10px 15px;
	background-color: #EAEAEA;
	width: 75%;
	margin-left: 60%;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.button-projekter5:hover {
    background-color: #D5D5D5;
	color: white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.projektbeskrivelse5 {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}



/* CV - Om mig */
/* Banner image om mig*/
.banner-image-mig {
  background-image: url(images/background2.png);
  width: 100%;
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.beskrivelse-mig {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

.button-cv {
	float: left;
	display: block;
	padding: 10px 15px;
	width: 20%;
	margin: auto;
	text-decoration: none;
	color: #000000;
	border-radius: 20px;
	border: solid 2px black;
	font-size: 14px;
	text-align: center;
}

.button-cv i {
	margin-right: 7px;
}

.button-cv:hover {
  color: #666666;
  border: solid 2px #666666;
}


/* CV - Uddannelse */
.wrapper-uddannelse {
	height: auto;
	width: 85%;
	margin: auto;
	padding-top: 50px;
}

.beskrivelse-uddannelse {
	width: 50%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

.info {
  text-decoration: none;
  color: #000000;
}

.uddannelse-logo1 {
	float: right;
	margin-top: 10%;
}

.uddannelse-logo2 {
	float: right;
	padding-top: 8%;
	text-align: center;
}

/* CV - Kompetencer */
.wrapper-kompetencer {
	width: 85%;
	margin: auto;
}

/* Tabel kompetencer */
table, td, th {    
    /*border: 1px solid #ddd;*/ 
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
	table-layout: fixed;
}

tr th {
	font-size: 25px;
}

tr td {
	font-size: 12px;
	text-transform: uppercase;
}

th, td {
    padding: 10px;
}

td i {
	margin-left: 7px;
}

.kompetencer2 {
	display: none;
}

/* Kontakt */
/* Banner image kontakt*/
.banner-image-kontakt {
  background-image: url(images/background3.png);
  width: 100%;
  height: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper-kontakt {
	text-align: center;
	height: auto;
	padding-top: 15%;
	margin-left: 38%;
}


/* Responsive design */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
	
/* Responsive Styles Tablet with CSS media query*/
@media all and (max-width: 750px) {
	
/* Headlines of all pages */
h1 {
	font-size: 25px;
} 

h2 {
	font-size: 20px;
} 

h3 {
	font-size: 15px;
}
	
/* Fælles styling */
/* Responsive menu */
header{
	width:100%; 
	background:#ffffff; 
	line-height:60px;
}
.hamburger{
  background:none;
  position: absolute;
  top:0;
  right:0;
  /*line-height:45px;*/
  padding:5px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:3em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.mobile-menu {z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.mobile-menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.mobile-menu ul li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.mobile-menu   ul li:hover > ul{display: block;    background:#ffffff; padding:15px 0 15px 0;}
.mobile-menu  ul li a { text-decoration:none;  margin: 0px; color:#666;}
/*.mobile-menu  ul  li a:hover {  color: #666; text-decoration:none;}*/
.mobile-menu  a{text-decoration:none; display: block;}
.mobile-menu  a:hover{text-decoration:underline;}
.mobile-menu ul ul{display: none;}
.mobile-menu ul ul li {display: block;}

header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}	
	
	
	
	
button {
	display: block;
	float: right;
	margin-top: 55px;
	margin-right: 10px;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

/*
.fa-bars {
	display: block;
	float: right;
	margin-top: 55px;
	margin-right: 12px;
	border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	}*/

	
nav {
	display: none;
	float: right;
	background-color: #ffffff;
	/*border: 1px solid black;*/
	margin-left: 100%;
}

nav a {
	padding: 7px 10px;
	border: 1px solid black;
}
	
nav ul li {
	text-align: center;
	width: 100%;
	/*border-bottom: 1px solid black;*/
}	
	
/* Responsive dropdown styles */
nav ul li:hover > ul {
	/*display: inherit;*/
	position: static;
	background-color: #ffffff;
	width: 100%; 
}	
	
/* Footer */
.footer {
   display: none;	
}
	
/* Logo styling */
.logo {
	margin-top: 10px;
	margin-left: 25px;
}

/* Overskrifter alle CV sider */
.overskrifter-cv {
	margin-top: 65px;
	margin-bottom: 65px;
	font-size: 45px;
}

/* Wrapper */
.wrapper-content {
	height: auto;
	width: 90%;
	margin: auto;
	padding-top: 85px;
}
	
/* Style slideshow placering */
.style-slideshow {
	float: left;
	margin-left: 35%;
}
.style-slideshow1 {
	float: left;
	margin-left: 25%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 170px;
}

/* Index */
/* Button "Se mit arbejde" */
.button {
	display: none;
}
	
.banner-text {
  color: #ffffff;
}

.nadjauhrenfelt {
	font-size: 40px;
	text-transform: none
}

/* Projekt 1 */
.projektbeskrivelse1 {
	width: 95%; 
	position: relative;
	padding-top: 60%;
}

.placering-dot1 {
  /*padding-left: 45%;*/
	display: none;
}

.button-projekter1 {
	margin-left: 45%;
}
	
/* Projekt 2 */
.projektbeskrivelse2 {
	width: 95%; 
	position: relative;
	padding-top: 60%;
}

.placering-dot2 {
	/*padding-left: 60%;*/
	display: none;
}

.button-projekter2 {
	margin-left: 45%;
}
	
/* Projekt 3 */
.projektbeskrivelse3 {
	width: 95%; 
	position: relative;
	padding-top: 100%;
}
	
.dot {
	display: none;
}
	
.button-projekter3 {
	width: 80%;
}

/* Projekt 3-1 */
.projektbeskrivelse3-1 {
	width: 95%; 
	position: relative;
	padding-top: 50%;
}

.placering-dot3-1 {
	/*padding-left: 55%;*/
	display: none;
}

.ikoner {
	margin-left: 85px;
}
	
/* Projekt 4 */
.projektbeskrivelse4 {
	width: 95%; 
	position: relative;
	padding-top: 75%;
}

.placering-dot4 {
	/*padding-left: 35%;*/
	display: none;
}

.button-projekter4 {
	width: 85%;
	margin-left: 50%;
	
}
	
/* CV - Om mig */
/* Banner image mig */
.banner-image-mig {
  background-image: url(images/background2.png);
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.beskrivelse-mig {
	width: 50%; 
	position: relative;
	/*padding-bottom: 10%;*/
}

.button-cv {
	width: 30%;
}

/* CV - Uddannelse */
.wrapper-uddannelse {
	height: auto;
	width: 95%;
	margin: auto;
	padding-top: 50px;
}

.beskrivelse-uddannelse {
	width: 95%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}
	
.uddannelse-logo1 {
	display: none;
}

.uddannelse-logo2 {
	display: none;
}	
	
/* CV - Kompetencer */
/* Kompetence billeder */	
.kompetancer1 {
    display: none;
}
	
.kompetencer2 {
    display: block;
}
	
/* Kontakt */
.banner-image-kontakt {
  background-image: url(images/background.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  position: relative;
}
	
.wrapper-kontakt {
	/*float: left;*/
	text-align: center;
	height: auto;
}
		
/* End Tablet media query*/
}

/* Responsive Styles Mobile with CSS media query*/
@media all and (max-width: 450px) {
	
	
/* Headlines of all pages */
h1 {
	font-size: 20px;
} 

h2 {
	font-size: 15px;
} 

h3 {
	font-size: 10px;
}
	
/* Fælles styling */
/* Responsive menu */
header{
	width:100%; 
	background:#ffffff; 
	line-height:60px;
}
.hamburger{
  background:none;
  position: absolute;
  top:0;
  right:0;
  /*line-height:45px;*/
  padding:5px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:4em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.mobile-menu {z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#eaeaea;  position:absolute; text-align:center; font-size:12px;}
.mobile-menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.mobile-menu ul li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.mobile-menu   ul li:hover > ul{display: block;    background:#ffffff; padding:15px 0 15px 0;}
.mobile-menu  ul li a { text-decoration:none;  margin: 0px; color:#666;}
/*.mobile-menu  ul  li a:hover {  color: #666; text-decoration:none;}*/
.mobile-menu  a{text-decoration:none; display: block;}
.mobile-menu  a:hover{text-decoration:underline; /*color:#69B1FF*/}
.mobile-menu ul ul{display: none;}
.mobile-menu ul ul li {display: block;}

header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}	
	
	
	
	
button {
	display: block;
	float: right;
	margin-top: 55px;
	margin-right: 10px;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

/*
.fa-bars {
	display: block;
	float: right;
	margin-top: 55px;
	margin-right: 12px;
	border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	}*/

	
nav {
	display: none;
	float: right;
	background-color: #ffffff;
	/*border: 1px solid black;*/
	margin-left: 100%;
}

nav a {
	padding: 7px 10px;
	border: 1px solid black;
}
	
nav ul li {
	text-align: center;
	width: 100%;
	/*border-bottom: 1px solid black;*/
}	
	
/* Responsive dropdown styles */
nav ul li:hover > ul {
	/*display: inherit;*/
	position: static;
	background-color: #ffffff;
	width: 100%; 
}	

/* Footer */
.footer {
   display: none;	
}

/* Logo styling */
.logo {
	margin-top: 10px;
	margin-left: 10px;
}	
	
/* Overskrifter alle CV sider */
.overskrifter-cv {
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 40px;
}

/* Wrapper */
.wrapper-content {
	height: auto;
	width: 95%;
	margin: auto;
	padding-top: 85px;
}
	
/* Style slideshow placering */
.style-slideshow {
	float: left;
	margin-left: 35%;
}
.style-slideshow1 {
	float: left;
	margin-left: 25%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
}

	
/* Index */
/* Button "Se mit arbejde" */
.button {
	display: none;
}
	
.banner-text {
  color: #ffffff;
}

.banner-image {
  background-image: url(images/background1.png);
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nadjauhrenfelt {
	font-size: 40px;
	text-transform: none
}

/* Projekt 1 */
.projektbeskrivelse1 {
	width: 95%; 
	position: relative;
	padding-top: 90%;
}

.placering-dot1 {
  /*padding-left: 45%;*/
	display: none;
}

.button-projekter1 {
	margin-left: 45%;
}
	
/* Projekt 2 */
.projektbeskrivelse2 {
	width: 95%; 
	position: relative;
	padding-top: 90%;
}

.placering-dot2 {
	/*padding-left: 60%;*/
	display: none;
}

.button-projekter2 {
	margin-left: 45%;
}
	
/* Projekt 3 */
.projektbeskrivelse3 {
	width: 95%; 
	position: relative;
	padding-top: 130%;
}
	
.dot {
	display: none;
}
	
.button-projekter3 {
	width: 80%;
}

/* Projekt 3-1 */
.projektbeskrivelse3-1 {
	width: 95%; 
	position: relative;
	padding-top: 55%;
}

.placering-dot3-1 {
	/*padding-left: 55%;*/
	display: none;
}

.ikoner {
	margin-left: 50px;
}
	
/* Projekt 4 */
.projektbeskrivelse4 {
	width: 95%; 
	position: relative;
	padding-top: 110%;
}

.placering-dot4 {
	/*padding-left: 35%;*/
	display: none;
}

.button-projekter4 {
	width: 85%;
	margin-left: 15%;
	
}
	
/* CV - Om mig */
/* Banner image mig */
.banner-image-mig {
  background-image: url(images/background5.png);
  width: 100%;
  height: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.beskrivelse-mig {
	width: 95%; 
	position: relative;
	padding-top: 22%;
	padding-bottom: 10%;
}

/* CV - Uddannelse */
.wrapper-uddannelse {
	height: auto;
	width: 95%;
	margin: auto;
	padding-top: 50px;
}

.beskrivelse-uddannelse {
	width: 95%; 
	position: relative;
	/*text-align: justify; Gør teksten mere lige linjer*/ 
}

.uddannelse-logo1 {
	display: none;
}

.uddannelse-logo2 {
	display: none;
}
	
/* CV - Kompetencer */
/* Kompetence billeder */	
.kompetancer1 {
		display: none;
}
	
.kompetencer2 {
		display: block;
}
	
/* Kontakt */
.banner-image-kontakt {
  background-image: url(images/background.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
	
.wrapper-kontakt {
	float: left;
	text-align: center;
	width: 50%;
	height: auto;
}
/* End Mobile media query*/
}